
# Log file
*.log

# backup file
*~
*.bak

# downloaded data files
qgis_sfbay_currents/data/san-francisco-sample_5m.nc
qgis_sfbay_currents/data/san-francisco-sample_5m.grb
qgis_sfbay_currents/data/san-francisco-sample.nc
qgis_sfbay_currents/data/san-francisco-sample.grb

